* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {

    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4d7ff;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
    /* width:fit-content; */
    /* position: relative; */


}

.box1 {
    /* border: 2px solid rgb(115, 104, 21); */
    height: fit-content;
    /* width: fit-content; */
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.box1 img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.box2 {
    /* border: 2px solid rgb(115, 104, 21); */
    height: fit-content;
    width: 500px;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
}
.box2 p{
    text-indent:5%;
}

.button {
    background-color: #dae6ff;
    border-radius: 100px;
    border: 1px solid #618dea;
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    /* text decoration is used for removing that underscore bar below link  */
    
}
.button:hover{
    box-shadow:2px 2px 1px 1px #dae6ff;
}

#time{
    display:none;
}
#time:target{
    display: block;
}
.button a{
    display:block;
    text-decoration: none;
    width:100%;
    height:100%;  
}
@media only screen and (max-width:550px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .container {
    
        display: flex;
        /* width: fit-content; */
        width: fit-content;
        max-width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #c4d7ff;
        border-radius: 10px;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* background-color: aqua; */
        /* width:fit-content; */
        /* position: relative; */
    
    
    }
    
    .box1 {
        /* border: 2px solid rgb(115, 104, 21); */
        height: fit-content;
        width: fit-content;
        margin: 3px;
        padding: 3px;
        border-radius: 10px;
    }
    
    .box1 img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .box2 {
        /* border: 2px solid rgb(115, 104, 21); */
        height: fit-content;
        width: 100%;
        margin: 0px;
        padding: 5px;
        border-radius: 10px;
    }
}